{% extends "base.html" %}
{% load static %}
{% block content %}
{% load custom_filters %}
{% block title %}{% endblock %}
{% block css %} 
<style>

    #person th, #person td {
        border: 1px solid #dee2e6; /* Light border for table cells */
        padding: 8px; /* Adds padding inside cells for better readability */
        text-align: left; /* Aligns text to the left inside cells */
      }
      .glowing-icon {
        color: green;
        animation: glowing 1.1s infinite;
        padding: 0; /* No padding */
    }
    
    @keyframes glowing {
        0% {
            filter: drop-shadow(0 0 5px green);
        }
        50% {
            filter: drop-shadow(0 0 20px green);
        }
        100% {
            filter: drop-shadow(0 0 5px green);
        }
    }
    
    .fa-check-circle {
        color: green; /* Color for active status */
        font-size: 1.2rem; /* Adjust the size as needed */
    }
    
    .fa-times-circle {
        color: #dc3545; /* Red color for inactive status */
        font-size: 1.2rem; /* Adjust the size as needed */
    }
    .fa-download{
        font-size: 1.2rem; 
    }
   .fa-users
   {
    font-size: 1.2rem;
   }
</style>
{% endblock %}
<body>
    <div class="container-fluid mt-4">
        <!-- Date Range Filter Form -->
        <form method="get" class="mb-4">
            <div class="form-row">
                <!-- Date Range Inputs -->
                <div class="col-md-12 mb-3">
                    <label for="startDate" class="form-label text-light">Select Date Range:</label>
                    <div class="input-group">
                        <input type="date" id="startDate" name="start_date" class="form-control" value="{{ start_date }}">
                        <div class="input-group-append mx-2 text-light">to</div>
                        <input type="date" id="endDate" name="end_date" class="form-control" value="{{ end_date }}">
                        <button type="submit" class="btn btn-light form-control">Apply Filter</button>
                    </div>
                </div>
        
                <div class="col-md-12 mb-3">
                    <label for="status" class="form-label text-light">Filter by Status:</label>
                    <div class="form-group d-flex align-items-center">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="status_true" name="status_true" class="form-check-input p-2" {% if 'status_true' in request.GET %}checked{% endif %}>
                            <label for="status_true" class="form-check-label text-light">Registered</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="status_false" name="status_false" checked class="form-check-input p-2" {% if 'status_false' in request.GET %}checked{% endif %}>
                            <label for="status_false" class="form-check-label text-light">Unregistered</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="status_all" name="status_all" class="form-check-input p-2" {% if 'status_all' in request.GET %}checked{% endif %}>
                            <label for="status_all" class="form-check-label text-light">All</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        

        <ul class="list-group w-100">
            <li class="list-group-item ">
                <i class="fa fa-users"></i>
                Total Records: <strong>{{ total_count }}</strong>
            </li>
            <li class="list-group-item ">
                <i class="fa fa-check-circle  {% if true_count > 0 %}glowing-icon{% endif %}"></i>
                Registered Users: <strong>{{ true_count }}</strong>
            </li>
            <li class="list-group-item ">
                <i class="fa fa-times-circle "></i>
                Unregistered Users: <strong>{{ false_count }}</strong>
            </li>
        </ul>


        
      <!-- Loading Progress Dialog -->
<div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5 id="loadingModalLabel">Loading Data...</h5>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
          
        <div class="card mt-2">
            <div class="card-body">
        <div class="table-responsive mt-4">
            <table class="table table-striped table-bordered table-hover table-border w-100 table-md district-table" id="person">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>C-Number</th>
                        <th>F-Name</th>
                        <th>M-Name</th>
                        <th>L-Name</th>
                        <th>Added by</th>
                        <th>File</th>
                        <th>Official mail</th>
                        <th>Phone</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item.check_number }}</td>
                            <td>{{ item.check_number_og }}</td>
                            <td>{{ item.fname }}</td>
                            <td>{{ item.mname }}</td>
                            <td>{{ item.lname }}</td>
                            <td>
                                <a href="{% url 'employee_detail' item.username %}" class="text-decoration-none">
                                    {{ item.username }}
                                </a>
                            </td>
                            
                            <td>
                                {% if item.image %}
                                    <a href="#" class="image-popup" data-image-url="{{ item.image.url }}"
                                       data-user-name="{{ item.fname }} {{ item.mname }} {{ item.lname }}">
                                        <i class="fa fa-download text-primary"></i>
                                    </a>
                                {% else %}
                                    No File
                                {% endif %}
                            </td>
                            <td class="text-lowercase">{{ item.fname }}.{{ item.lname }}@tpf.go.tz</td>
                            <td>{{ item.simu }}</td>
                            <td>
                                <form action="{% url 'update_status_reset' item.check_number %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background: none; cursor: pointer;">
                                        <i class="fa {% if item.status %}fa-check-circle glowing-icon{% else %}fa-times-circle text-danger{% endif %}" title="{% if item.status %}Active{% else %}Inactive{% endif %}"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        </div>
        
    </div>
    </div>
</body>
</html>
<!-- Bootstrap Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h6 class="modal-title text-uppercase text-primary" id="imageModalLabel"></h6>
            </div>
            <div class="modal-body text-center">
                <!-- Spinner to show while the image is loading -->
                <div id="loadingSpinner" class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                
                <!-- Image that will be shown once loaded -->
                <img id="modalImage" src="" alt="Image Preview" class="img-thumbnail d-none" />
            </div>
            <div class="modal-footer">
                <a id="downloadLink" href="" download class="btn btn-primary btn-sm">Download</a>    
            </div>
        </div>
    </div>
</div>
{% block js %}
<script>
    $(document).ready(function() {
        // Initialize DataTables for all tables with the class 'district-table'
        $('#person').DataTable({
            dom: 'Bfrtip',
            buttons: [
                
                {
                    extend: 'excel',
                    text: '<i class="fa fa-file-excel text-primary"></i> Excel'
                },       
                {
                    extend: 'print',
                    text: '<i class="fa fa-print text-primary"></i> Print'
                },
                {
                    extend: 'colvis',
                    text: '<i class="fa fa-columns text-warning"></i> Columns'
    
                }
            ],
            paging: true,
            searching: true,
            ordering: true,
            info: true,
            pageLength: 10
        });
    });
</script>
<script>
    $(document).ready(function() {
        // Show the loading modal before AJAX request
        $(document).on('submit', 'form', function() {
            $('#loadingModal').modal('show');
        });

        // Hide the loading modal after data is loaded
        $(window).on('load', function() {
            $('#loadingModal').modal('hide');
        });
    });
</script>
<script>
    $(document).ready(function() {
        // Use event delegation on the parent element of .image-popup
        $('table').on('click', '.image-popup', function(event) {
            event.preventDefault();
            var imageUrl = $(this).data('image-url');
            var userName = $(this).data('user-name'); // Get user name from data attribute
            
            // Show the spinner and hide the image initially
            $('#loadingSpinner').removeClass('d-none');
            $('#modalImage').addClass('d-none');
            
            // Update modal title with user details
            $('#imageModalLabel').text(userName); // Set the title with user details

            // Set the image source
            $('#modalImage').attr('src', imageUrl);
            
            // Show the modal
            $('#imageModal').modal('show');
            
            // When the image is fully loaded, hide the spinner and show the image
            $('#modalImage').on('load', function() {
                $('#loadingSpinner').addClass('d-none'); // Hide the spinner
                $('#modalImage').removeClass('d-none');  // Show the image
            });

            // Set the download link
            $('#downloadLink').attr('href', imageUrl);
        });
    });
</script>
{% endblock %}
{% endblock %}
